* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
.container {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 753px;
    height: 292px;
}
.side-bar {
    width: 70px;
    position: relative;
    top: 0;
    left: 0;
}
.side-bar > img {
    display: block;
    width: 149%;
}
i {
    position: absolute;
    background-color: rgba(204, 204, 204, 0.8);
    border-radius: 1em;
}
.fal.fa-chevron-up {
    right: 6px;
    top: 10px;
    padding: 2px 4px 4px 4px;
}
.fal.fa-chevron-down {
    right: 6px;
    bottom: 10px;
    padding: 4px 4px 2px 4px;
}

.not-active {filter: brightness(0.4);}
.active {border: 2px solid #CCCCCC;}